workflows/running_coach_reminder_workflow.json
{
  "name": "Running Coach Reminder",
  "nodes": [
    {
      "id": "e2034a41-23b2-4eff-aa0c-3baad42ad4b3",
      "name": "Daily Reminder Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        940
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "4d025492-9aeb-4e68-b607-8bc0f91eec5a",
      "name": "Build Reminder Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        940
      ],
      "parameters": {
        "jsCode": "const DEFAULT_CHAT_ID = '730354404';\nconst REMINDER_TIME = '08:00';\nconst REMINDER_TIMEZONE = 'Europe/Madrid';\n\nconst getVar = (key) => {\n  if (typeof $vars !== 'undefined' && $vars[key] != null) {\n    return String($vars[key]);\n  }\n  if (typeof $env !== 'undefined' && $env[key] != null) {\n    return String($env[key]);\n  }\n  if (typeof process !== 'undefined' && process.env && process.env[key] != null) {\n    return String(process.env[key]);\n  }\n  return '';\n};\n\nconst isTruthy = (value) => ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n\nconst getLocalNow = (timeZone) => {\n  const now = new Date();\n  const formatter = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    weekday: 'long',\n  });\n\n  const parts = formatter.formatToParts(now).reduce((acc, part) => {\n    if (part.type !== 'literal') {\n      acc[part.type] = part.value;\n    }\n    return acc;\n  }, {});\n\n  return {\n    iso: now.toISOString(),\n    date: `${parts.year}-${parts.month}-${parts.day}`,\n    time: `${parts.hour}:${parts.minute}`,\n    weekday: parts.weekday || '',\n  };\n};\n\nconst previewEnabled = isTruthy(getVar('RC_TELEGRAM_PREVIEW_MODE'));\nconst previewChatRaw = getVar('RC_TELEGRAM_PREVIEW_CHAT_ID').trim();\nif (previewEnabled && !previewChatRaw) {\n  throw new Error('RC_TELEGRAM_PREVIEW_CHAT_ID is required when RC_TELEGRAM_PREVIEW_MODE is enabled.');\n}\n\nconst reminderEnabled = isTruthy(getVar('RC_REMINDER_ENABLED'));\nif (!reminderEnabled) {\n  return [];\n}\n\nlet localNow;\ntry {\n  localNow = getLocalNow(REMINDER_TIMEZONE);\n} catch (error) {\n  throw new Error(`Invalid reminder timezone: ${REMINDER_TIMEZONE}`);\n}\n\nconst forceSend = isTruthy(getVar('RC_REMINDER_FORCE_SEND'));\nconst targetChatId = previewEnabled ? previewChatRaw : DEFAULT_CHAT_ID;\nconst runId = `reminder-${localNow.date}-${Math.random().toString(36).slice(2, 10)}`;\n\nreturn [{\n  json: {\n    runId,\n    status: 'reminder',\n    createdAt: localNow.iso,\n    chatId: targetChatId,\n    previewMode: previewEnabled,\n    previewChatId: targetChatId,\n    reminderEnabled,\n    reminderDate: localNow.date,\n    reminderWeekday: localNow.weekday,\n    reminderTime: REMINDER_TIME,\n    reminderTimezone: REMINDER_TIMEZONE,\n    reminderForceSend: forceSend,\n    reminderKey: `${targetChatId}:${localNow.date}`,\n    reminderOptInUsersCount: 1,\n    reminder_opt_in_users_count: 1,\n  }\n}];"
      }
    },
    {
      "id": "45ff64d9-b51c-41cc-9ade-fa060185d1c8",
      "name": "Read Latest Plan Snapshot",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1120,
        940
      ],
      "alwaysOutputData": true,
      "parameters": {
        "collection": "plan_snapshots",
        "options": {
          "sort": "{ \"createdAt\": -1 }"
        },
        "query": "={\n  \"activityPlan\": {\n    \"$exists\": true\n  }\n}\n"
      },
      "credentials": {
        "mongoDb": {
          "id": "8KyRHmD3ScRn2PPF",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "376db49c-8b14-46e5-883f-04e1492745f2",
      "name": "Read Reminder Sends Today",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -880,
        940
      ],
      "alwaysOutputData": true,
      "parameters": {
        "collection": "reminder_events",
        "options": {
          "sort": "{ \"createdAt\": -1 }"
        },
        "query": "={\n  \"chatId\": \"{{ $items('Build Reminder Context')[0].json.chatId }}\",\n  \"reminderDate\": \"{{ $items('Build Reminder Context')[0].json.reminderDate }}\",\n  \"deliveryStatus\": \"sent\"\n}\n"
      },
      "credentials": {
        "mongoDb": {
          "id": "8KyRHmD3ScRn2PPF",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "9c968705-5e90-4782-abaa-c3ecc83f6e50",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        940
      ],
      "parameters": {
        "jsCode": "const contextItems = $items('Build Reminder Context');\nif (!contextItems.length) {\n  return [];\n}\n\nconst context = contextItems[0].json || {};\n\nconst snapshotDocs = $items('Read Latest Plan Snapshot')\n  .map((item) => item.json || {})\n  .filter((doc) => doc && Object.keys(doc).length > 0);\n\nconst sentDocs = items\n  .map((item) => item.json || {})\n  .filter((doc) => doc && Object.keys(doc).length > 0);\n\nconst planSnapshot = snapshotDocs[0] || {};\nconst activityPlan = (planSnapshot.activityPlan && typeof planSnapshot.activityPlan === 'object')\n  ? planSnapshot.activityPlan\n  : {};\nconst days = Array.isArray(activityPlan.days) ? activityPlan.days : [];\n\nconst normalizeDay = (value) => {\n  const text = String(value || '').trim().toLowerCase();\n  if (!text) return '';\n  const map = {\n    monday: 'monday',\n    lunes: 'monday',\n    tuesday: 'tuesday',\n    martes: 'tuesday',\n    wednesday: 'wednesday',\n    miercoles: 'wednesday',\n    'miércoles': 'wednesday',\n    thursday: 'thursday',\n    jueves: 'thursday',\n    friday: 'friday',\n    viernes: 'friday',\n    saturday: 'saturday',\n    sabado: 'saturday',\n    'sábado': 'saturday',\n    sunday: 'sunday',\n    domingo: 'sunday',\n  };\n  return map[text] || text;\n};\n\nconst todayDayKey = normalizeDay(context.reminderWeekday);\nlet session = days.find((day) => String(day.date || '') === String(context.reminderDate || '')) || null;\nif (!session && todayDayKey) {\n  session = days.find((day) => normalizeDay(day.day) === todayDayKey) || null;\n}\n\nconst alreadySent = sentDocs.length > 0;\nlet shouldSend = false;\nlet deliveryStatus = 'skipped';\nlet deliveryReason = 'unknown';\n\nif (!Array.isArray(days) || days.length === 0) {\n  deliveryStatus = 'skipped_no_plan';\n  deliveryReason = 'missing_plan_days';\n} else if (!session) {\n  deliveryStatus = 'skipped_no_session';\n  deliveryReason = 'missing_daily_session';\n} else if (alreadySent) {\n  deliveryStatus = 'skipped_already_sent';\n  deliveryReason = 'already_sent_today';\n} else {\n  shouldSend = true;\n  deliveryStatus = 'pending';\n  deliveryReason = 'ready_to_send';\n}\n\nconst esc = (value) => String(value || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;');\n\nconst lines = [\n  context.previewMode ? '🧪 <b>Preview mode</b>' : null,\n  `⏰ <b>Training reminder</b> (${esc(context.reminderDate)})`,\n];\n\nif (session) {\n  lines.push(`🏃 <b>${esc(session.activity || 'Session')}</b>`);\n  if (session.distance_time) {\n    lines.push(`Duration: ${esc(session.distance_time)}`);\n  }\n  if (session.intensity && session.intensity !== '-') {\n    lines.push(`Intensity: ${esc(session.intensity)}`);\n  }\n  if (session.goal) {\n    lines.push(`Goal: ${esc(session.goal)}`);\n  }\n  if (session.note) {\n    lines.push(`Note: ${esc(session.note)}`);\n  }\n} else {\n  lines.push('No planned session found for today.');\n}\n\nif (!shouldSend && deliveryStatus === 'skipped_already_sent') {\n  lines.push('Reminder already sent today.');\n}\n\nreturn [{\n  json: {\n    runId: context.runId,\n    status: context.status,\n    createdAt: context.createdAt,\n    chatId: context.chatId,\n    previewMode: context.previewMode,\n    previewChatId: context.previewChatId,\n    reminderDate: context.reminderDate,\n    reminderWeekday: context.reminderWeekday,\n    reminderTime: context.reminderTime,\n    reminderTimezone: context.reminderTimezone,\n    reminderForceSend: context.reminderForceSend,\n    reminderKey: context.reminderKey,\n    reminderEnabled: context.reminderEnabled,\n    reminderOptInUsersCount: context.reminderOptInUsersCount,\n    reminder_opt_in_users_count: context.reminder_opt_in_users_count,\n    reminderSentCount: shouldSend ? 1 : 0,\n    reminder_sent_count: shouldSend ? 1 : 0,\n    shouldSend,\n    deliveryStatus,\n    deliveryReason,\n    session,\n    text: lines.filter(Boolean).join('\\n'),\n  }\n}];"
      }
    },
    {
      "id": "63401a52-028d-4dfc-84de-dc996b9ca79b",
      "name": "Should Send Reminder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        940
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldSend }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "fb5f6473-9774-49f5-96cc-1e104ec9d59e",
      "name": "Send Reminder Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        820
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "hdQmaYn1B2efrJvB",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "b409f1bb-0422-412d-a326-815ff730e116",
      "name": "Build Reminder Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        940
      ],
      "parameters": {
        "jsCode": "const baseItems = $items('Build Reminder Message');\nif (!baseItems.length) {\n  return [];\n}\n\nconst base = baseItems[0].json || {};\nconst incoming = (items[0] && items[0].json && typeof items[0].json === 'object') ? items[0].json : {};\nconst incomingHasPayload = Object.prototype.hasOwnProperty.call(incoming, 'shouldSend');\n\nlet deliveryStatus = base.deliveryStatus || 'skipped';\nlet deliveryReason = base.deliveryReason || null;\nlet reminderSentCount = base.shouldSend ? 1 : 0;\nlet telegramMessageId = null;\nlet telegramResponse = null;\n\nif (incomingHasPayload) {\n  deliveryStatus = incoming.deliveryStatus || deliveryStatus;\n  deliveryReason = incoming.deliveryReason || deliveryReason;\n  reminderSentCount = incoming.shouldSend ? 1 : 0;\n} else if (base.shouldSend) {\n  deliveryStatus = 'sent';\n  deliveryReason = 'sent';\n  reminderSentCount = 1;\n  telegramResponse = incoming;\n  if (incoming && incoming.result && incoming.result.message_id != null) {\n    telegramMessageId = incoming.result.message_id;\n  }\n}\n\nconst createdAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    runId: base.runId || `reminder-${Math.random().toString(36).slice(2, 10)}`,\n    status: 'reminder',\n    chatId: base.chatId || null,\n    previewMode: Boolean(base.previewMode),\n    previewChatId: base.previewChatId || null,\n    reminderDate: base.reminderDate || null,\n    reminderWeekday: base.reminderWeekday || null,\n    reminderTime: base.reminderTime || null,\n    reminderTimezone: base.reminderTimezone || null,\n    reminderForceSend: Boolean(base.reminderForceSend),\n    reminderKey: base.reminderKey || null,\n    reminderEnabled: Boolean(base.reminderEnabled),\n    deliveryStatus,\n    deliveryReason,\n    session: base.session || null,\n    text: base.text || null,\n    telegramMessageId,\n    telegramResponse,\n    reminderSentCount,\n    reminder_sent_count: reminderSentCount,\n    reminderOptInUsersCount: base.reminderOptInUsersCount === 1 ? 1 : 0,\n    reminder_opt_in_users_count: base.reminder_opt_in_users_count === 1 ? 1 : 0,\n    createdAt,\n  }\n}];"
      }
    },
    {
      "id": "768a9b31-7943-4301-84d7-553f780e4ad5",
      "name": "Reminder Events DB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        320,
        860
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "reminder_events",
        "updateKey": "runId",
        "fields": "runId, status, chatId, previewMode, previewChatId, reminderDate, reminderWeekday, reminderTime, reminderTimezone, reminderForceSend, reminderKey, reminderEnabled, deliveryStatus, deliveryReason, session, text, telegramMessageId, telegramResponse, reminderSentCount, reminder_sent_count, reminderOptInUsersCount, reminder_opt_in_users_count, createdAt",
        "upsert": true,
        "options": {
          "dateFields": "createdAt"
        }
      },
      "credentials": {
        "mongoDb": {
          "id": "8KyRHmD3ScRn2PPF",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "955198df-67a1-48dd-a9f4-17de2f2f49b3",
      "name": "Run Events DB (reminder)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        320,
        1020
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "run_events",
        "updateKey": "runId",
        "fields": "runId, status, chatId, previewMode, previewChatId, reminderDate, reminderWeekday, reminderTime, reminderTimezone, reminderForceSend, reminderKey, reminderEnabled, deliveryStatus, deliveryReason, session, reminderSentCount, reminder_sent_count, reminderOptInUsersCount, reminder_opt_in_users_count, createdAt",
        "upsert": true,
        "options": {
          "dateFields": "createdAt"
        }
      },
      "credentials": {
        "mongoDb": {
          "id": "8KyRHmD3ScRn2PPF",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "5b6ae5e7-59e2-4ae2-b983-4f6056b96fc0",
      "name": "Build Metrics Payload (reminder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        820
      ],
      "parameters": {
        "jsCode": "const getVar = (key) => {\n  if (typeof $vars !== 'undefined' && $vars[key] != null) return String($vars[key]);\n  if (typeof $env !== 'undefined' && $env[key] != null) return String($env[key]);\n  if (typeof process !== 'undefined' && process.env && process.env[key] != null) return String(process.env[key]);\n  return '';\n};\n\nconst sanitizeLabel = (value) => String(value || 'unknown').toLowerCase().replace(/[^a-z0-9_:.-]+/g, '_').replace(/^_+|_+$/g, '') || 'unknown';\n\nconst metricsEnabledRaw = getVar('RC_METRICS_PUSH_ENABLED').trim();\nconst metricsEnabled = !metricsEnabledRaw || ['1', 'true', 'yes', 'on'].includes(metricsEnabledRaw.toLowerCase());\nif (!metricsEnabled) {\n  return [];\n}\n\nconst baseUrl = getVar('RC_PUSHGATEWAY_URL').trim();\nif (!baseUrl) {\n  return [];\n}\n\nconst envLabel = sanitizeLabel(getVar('RC_METRICS_ENV').trim() || 'prod');\nconst metricName = 'running_coach_run_timestamp_seconds';\nconst workflow = sanitizeLabel('running_coach_reminder');\nconst status = sanitizeLabel(($json.deliveryStatus || '').toLowerCase() === 'failed' ? 'failure' : 'success');\nconst timestampSec = Math.floor(Date.now() / 1000);\nconst metricBody = `${metricName} ${timestampSec}\\n`;\nconst root = baseUrl.replace(/\\/+$/, '');\nconst metricsEndpoint = `${root}/metrics/job/n8n_workflows/workflow/${encodeURIComponent(workflow)}/status/${encodeURIComponent(status)}/env/${encodeURIComponent(envLabel)}`;\n\nreturn [{\n  json: {\n    workflow,\n    status,\n    env: envLabel,\n    metricName,\n    timestampSec,\n    metricBody,\n    metricsEndpoint,\n  }\n}];"
      }
    },
    {
      "id": "e826b5e6-5330-44b3-8e0f-fb6cfd34a3c1",
      "name": "Push Workflow Metrics (reminder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        820
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.metricsEndpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/plain; version=0.0.4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "textPlain",
        "body": "={{ $json.metricBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Reminder Trigger": {
      "main": [
        [
          {
            "node": "Build Reminder Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Context": {
      "main": [
        [
          {
            "node": "Read Latest Plan Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Latest Plan Snapshot": {
      "main": [
        [
          {
            "node": "Read Reminder Sends Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reminder Sends Today": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "Should Send Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reminder?": {
      "main": [
        [
          {
            "node": "Send Reminder Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Reminder Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Message": {
      "main": [
        [
          {
            "node": "Build Reminder Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Event": {
      "main": [
        [
          {
            "node": "Reminder Events DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Events DB (reminder)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Metrics Payload (reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Metrics Payload (reminder)": {
      "main": [
        [
          {
            "node": "Push Workflow Metrics (reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f89e29c0-ff30-42b0-b00e-c8f86f1a1969",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32e042aaa93a0c2717f17fdbf6d1b765a1d2543e64737ddc9ed84499712f834c"
  },
  "id": "RcRmWf8pQ1sL2dN4",
  "tags": []
}
