workflows/running_coach_subflow_telegram_message.json
{
  "name": "Running Coach :: Subflow :: Telegram Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        0
      ],
      "id": "db3a313b-8856-40b2-b155-66a831ac7760",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0] && items[0].json && typeof items[0].json === 'object'\n  ? items[0].json\n  : {};\nconst context = payload._promptBuilderContext;\nif (!context || typeof context !== 'object' || Object.keys(context).length === 0) {\n  return items;\n}\nreturn items.map((item) => ({\n  json: Object.assign({}, item.json || {}, context),\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        0
      ],
      "id": "cba3ce9b-c8f4-42d0-ac34-6a47843c99a2",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "jsCode": "return items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        0
      ],
      "id": "3ab0be76-f8a7-4e6c-b4a9-063f1cda6004",
      "name": "Build Run Event (success)"
    },
    {
      "parameters": {
        "jsCode": "return items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "0d71c6ac-e434-4e84-ab8e-cda9b992d0cb",
      "name": "Validate WeeklyPlan (attempt 0)"
    },
    {
      "parameters": {
        "jsCode": "const TEMPLATE_VERSION = 'telegram-v2.2';\n\nconst DEFAULT_CHAT_ID = '730354404';\n\nconst isObject = (value) => value !== null && typeof value === 'object' && !Array.isArray(value);\n\nconst parseContent = (input) => {\n  if (typeof input !== 'string') {\n    return input;\n  }\n  try {\n    return JSON.parse(input);\n  } catch {\n    return null;\n  }\n};\n\nconst payloads = items\n  .map((item) => (item && item.json ? item.json : {}))\n  .filter((payload) => payload && Object.keys(payload).length > 0);\n\nconst getNodeItemsSafe = (nodeName) => {\n  try {\n    const nodeItems = $items(nodeName);\n    return Array.isArray(nodeItems) ? nodeItems : [];\n  } catch {\n    return [];\n  }\n};\n\nconst fallbackNodeNames = [\n  'Build Run Event (success)',\n  'Validate WeeklyPlan (attempt 0)',\n];\n\nconst fallbackNodeCounts = {};\nconst fallbackPayloads = [];\nfor (const nodeName of fallbackNodeNames) {\n  const nodeItems = getNodeItemsSafe(nodeName);\n  fallbackNodeCounts[nodeName] = nodeItems.length;\n  for (const nodeItem of nodeItems) {\n    const payload = nodeItem && nodeItem.json ? nodeItem.json : {};\n    if (payload && Object.keys(payload).length > 0) {\n      fallbackPayloads.push(payload);\n    }\n  }\n}\n\nconst allPayloads = [...payloads, ...fallbackPayloads];\n\nconst parsePlanCandidate = (payload) => {\n  const raw = Array.isArray(payload.choices)\n    ? payload.choices[0] && payload.choices[0].message\n      ? payload.choices[0].message.content\n      : null\n    : payload;\n  const parsed = parseContent(raw);\n  return isObject(parsed) ? parsed : null;\n};\n\nconst parsedCandidates = allPayloads\n  .map((payload) => parsePlanCandidate(payload))\n  .filter((payload) => payload !== null);\n\nconst content = parsedCandidates.find((payload) => isObject(payload.activityPlan)) || null;\nif (!content) {\n  const inboundKeys = payloads\n    .slice(0, 3)\n    .map((payload) => Object.keys(payload).slice(0, 8));\n  throw new Error(\n    `Missing or invalid activityPlan in response. inbound_payloads=${payloads.length}; fallback_counts=${JSON.stringify(fallbackNodeCounts)}; inbound_keys=${JSON.stringify(inboundKeys)}`,\n  );\n}\n\nconst supplementalPayload = {};\n\nconst plan = content.activityPlan;\nconst nextWeek = isObject(plan.nextWeek) ? plan.nextWeek : {};\nconst days = Array.isArray(plan.days) ? plan.days : [];\nconst justifications = Array.isArray(content.justification) ? content.justification : [];\n\nconst getVar = (key) => {\n  if (typeof $vars !== 'undefined' && $vars[key] != null) {\n    return String($vars[key]);\n  }\n  if (typeof process !== 'undefined' && process.env && process.env[key] != null) {\n    return String(process.env[key]);\n  }\n  return '';\n};\n\nconst isTruthy = (value) => ['1', 'true', 'yes', 'on'].includes(String(value).toLowerCase());\n\nconst previewEnabled = isTruthy(getVar('RC_TELEGRAM_PREVIEW_MODE'));\nconst previewChatRaw = getVar('RC_TELEGRAM_PREVIEW_CHAT_ID').trim();\nif (previewEnabled && !previewChatRaw) {\n  throw new Error('RC_TELEGRAM_PREVIEW_CHAT_ID is required when RC_TELEGRAM_PREVIEW_MODE is enabled.');\n}\nconst targetChatId = previewEnabled ? previewChatRaw : DEFAULT_CHAT_ID;\n\nconst runContextItems = $items('Prompt Builder');\nconst runContext = runContextItems.length ? runContextItems[0].json : {};\nconst metrics = isObject(runContext.metrics) ? runContext.metrics : {};\nconst history = Array.isArray(runContext.history) ? runContext.history : [];\n\nconst heartRate = isObject(runContext.heartRate) ? runContext.heartRate : {};\nconst hrSyncLog = isObject(heartRate.hrSyncLog) ? heartRate.hrSyncLog : {};\nconst zonesUpdated = Boolean(heartRate.zonesUpdated);\nconst toHrString = (value) => (value === null || value === undefined || value === '' ? '-' : String(Math.round(Number(value))));\nconst zoneUpdateNotice = zonesUpdated\n  ? (typeof heartRate.zoneUpdateNotice === 'string' && heartRate.zoneUpdateNotice.trim()\n      ? heartRate.zoneUpdateNotice.trim()\n      : `🛠️ Zonas actualizadas: Max ${toHrString(hrSyncLog.hrMax_old)}→${toHrString(hrSyncLog.hrMax_new)} · Reposo ${toHrString(hrSyncLog.hrRest_old)}→${toHrString(hrSyncLog.hrRest_new)} · Umbral ${toHrString(hrSyncLog.lthr_old)}→${toHrString(hrSyncLog.lthr_new)}`)\n  : null;\n\n\nconst valueOr = (value, fallback = '--') => {\n  if (value === null || value === undefined) return fallback;\n  const text = String(value).trim();\n  return text || fallback;\n};\n\nconst esc = (value) => String(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst num = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n};\n\nconst mean = (values) => {\n  const valid = values.map(num).filter((value) => value !== null);\n  if (!valid.length) return null;\n  return valid.reduce((sum, value) => sum + value, 0) / valid.length;\n};\n\nconst fmt = (value, suffix = '') => (value === null ? '--' : `${value.toFixed(1)}${suffix}`);\nconst pct = (value) => (value === null ? '--' : `${(value * 100).toFixed(0)}%`);\n\nconst intOrZero = (value) => {\n  const parsed = Number.parseInt(value, 10);\n  return Number.isFinite(parsed) ? parsed : 0;\n};\n\nconst normalizeDay = (value) => String(value || '')\n  .toLowerCase()\n  .replace(/[áàä]/g, 'a')\n  .replace(/[éèë]/g, 'e')\n  .replace(/[íìï]/g, 'i')\n  .replace(/[óòö]/g, 'o')\n  .replace(/[úùü]/g, 'u')\n  .replace(/ñ/g, 'n');\n\nconst dayOrder = {\n  lunes: 0,\n  monday: 0,\n  martes: 1,\n  tuesday: 1,\n  miercoles: 2,\n  wednesday: 2,\n  jueves: 3,\n  thursday: 3,\n  viernes: 4,\n  friday: 4,\n  sabado: 5,\n  saturday: 5,\n  domingo: 6,\n  sunday: 6,\n};\n\nconst sortedDays = [...days].sort((a, b) => {\n  const aOrder = dayOrder[normalizeDay(a.day)];\n  const bOrder = dayOrder[normalizeDay(b.day)];\n  const safeA = aOrder === undefined ? 99 : aOrder;\n  const safeB = bOrder === undefined ? 99 : bOrder;\n  if (safeA !== safeB) return safeA - safeB;\n  return String(a.date || '').localeCompare(String(b.date || ''));\n});\n\nconst ctlNow = num(metrics.ctlActs);\nconst atlNow = num(metrics.atlActs);\nconst rampNow = num(metrics.rampActs);\nconst trimpNow = num(metrics.totalTrimp);\nconst restNow = num(metrics.restHR);\nconst hrvNow = num(metrics.hrvWel);\nconst sleepNow = num(metrics.sleepWel);\nconst stepsNow = num(metrics.steps);\n\nconst lastWeekSummaryLines = [];\nif (ctlNow !== null || atlNow !== null || rampNow !== null) {\n  lastWeekSummaryLines.push(`Carga (CTL/ATL/Ramp): ${fmt(ctlNow)} / ${fmt(atlNow)} / ${fmt(rampNow)}`);\n}\nif (trimpNow !== null) {\n  lastWeekSummaryLines.push(`TRIMP semanal: ${fmt(trimpNow)}`);\n}\nif (restNow !== null || hrvNow !== null || sleepNow !== null) {\n  lastWeekSummaryLines.push(`Recuperación: FC reposo ${fmt(restNow)} bpm, HRV ${fmt(hrvNow)}, Sueño ${fmt(sleepNow)}`);\n}\nif (stepsNow !== null) {\n  lastWeekSummaryLines.push(`Pasos medios/día: ${fmt(stepsNow)}`);\n}\nconst hasLastWeekSummaryData = lastWeekSummaryLines.length > 0;\nif (!hasLastWeekSummaryData) {\n  lastWeekSummaryLines.push('Sin métricas recientes.');\n}\n\n\nconst weekStart = valueOr(nextWeek.weekStart);\nconst weekEnd = valueOr(nextWeek.weekEnd);\nconst phase = valueOr(nextWeek.phase);\nconst objective = valueOr(nextWeek.objective);\n\nconst thisWeekGoalLines = [\n  `Semana: ${weekStart} -> ${weekEnd}`,\n  `Fase: ${phase}`,\n  `Objetivo: ${objective}`,\n];\nif (justifications.length) {\n  const rationale = justifications\n    .slice(0, 3)\n    .map((item) => valueOr(item))\n    .join(' | ');\n  thisWeekGoalLines.push(`Justificación breve: ${rationale}`);\n}\nconst hasThisWeekGoalData = [nextWeek.weekStart, nextWeek.weekEnd, nextWeek.phase, nextWeek.objective].some(Boolean);\n\nconst dailyPlanLines = sortedDays.map((day) => {\n  const dayName = valueOr(day.day, 'Día');\n  const date = valueOr(day.date);\n  const activity = valueOr(day.activity);\n  const distanceTime = valueOr(day.distance_time);\n  const intensity = valueOr(day.intensity);\n  const goal = valueOr(day.goal);\n  const note = day.note ? ` | Nota: ${valueOr(day.note, '')}` : '';\n  return `${dayName} (${date}) · ${activity} | ${distanceTime} | ${intensity} | ${goal}${note}`;\n});\nif (!dailyPlanLines.length) {\n  dailyPlanLines.push('Sin detalle diario disponible.');\n}\nconst hasCompleteDailyPlan = sortedDays.length === 7;\n\nconst combinedText = (day) => `${valueOr(day.activity, '')} ${valueOr(day.intensity, '')} ${valueOr(day.goal, '')} ${valueOr(day.note, '')}`.toLowerCase();\nconst hardPattern = /(\\bz4\\b|\\bz5\\b|vo2|tempo|threshold|umbral|interval)/;\nconst longPattern = /(\\blong\\b|tirada|larga)/;\n\nconst keySessionDay = sortedDays.find((day) => hardPattern.test(combinedText(day)))\n  || sortedDays.find((day) => longPattern.test(combinedText(day)))\n  || sortedDays[0]\n  || null;\n\nconst keySessionLines = [];\nif (keySessionDay) {\n  keySessionLines.push(\n    `${valueOr(keySessionDay.day, 'Día')} (${valueOr(keySessionDay.date)}) · ${valueOr(keySessionDay.activity)} | ${valueOr(keySessionDay.distance_time)} | ${valueOr(keySessionDay.intensity)} | ${valueOr(keySessionDay.goal)}`,\n  );\n  if (keySessionDay.note) {\n    keySessionLines.push(`Nota: ${valueOr(keySessionDay.note, '')}`);\n  }\n} else {\n  keySessionLines.push('Sin sesión clave identificada.');\n}\nconst hasKeySessionData = Boolean(keySessionDay);\n\nconst baselineHrv = mean(history.map((entry) => entry.hrvMean));\nconst baselineRest = mean(history.map((entry) => entry.restHrMean));\nconst baselineRamp = mean(history.map((entry) => entry.rampRateMean));\n\nconst rationaleCandidates = [];\nconst addRationale = (text, metricKeys) => {\n  rationaleCandidates.push({ text, metricKeys });\n};\n\nif (ctlNow !== null && atlNow !== null && rampNow !== null) {\n  addRationale(\n    `Balance de carga: CTL ${fmt(ctlNow)}, ATL ${fmt(atlNow)}, ramp ${fmt(rampNow)}.`,\n    ['ctlActs', 'atlActs', 'rampActs'],\n  );\n}\nif (trimpNow !== null) {\n  addRationale(\n    `Volumen semanal: TRIMP total ${fmt(trimpNow)}.`,\n    ['totalTrimp'],\n  );\n}\nif (restNow !== null && hrvNow !== null && sleepNow !== null) {\n  addRationale(\n    `Perfil de recuperación: FC reposo ${fmt(restNow)} bpm, HRV ${fmt(hrvNow)}, Sueño ${fmt(sleepNow)}.`,\n    ['restHR', 'hrvWel', 'sleepWel'],\n  );\n}\nif (hrvNow !== null && baselineHrv !== null && restNow !== null && baselineRest !== null) {\n  addRationale(\n    `Tendencia vs base: HRV ${fmt(hrvNow)} vs ${fmt(baselineHrv)}, FC reposo ${fmt(restNow)} vs ${fmt(baselineRest)} bpm.`,\n    ['hrvWel', 'histHrv', 'restHR', 'histRestHR'],\n  );\n}\nif (stepsNow !== null) {\n  addRationale(\n    `Soporte de actividad: pasos medios ${fmt(stepsNow)}.`,\n    ['steps'],\n  );\n}\nif (rampNow !== null && baselineRamp !== null) {\n  addRationale(\n    `Gestión de ramp: actual ${fmt(rampNow)} vs base ${fmt(baselineRamp)}.`,\n    ['rampActs', 'histRamp'],\n  );\n}\n\nlet whyPlanHallucinationFailures = 0;\nconst whyThisPlan = [];\nconst whyMetricGroups = [];\nfor (const candidate of rationaleCandidates) {\n  const invalid = candidate.metricKeys.some((key) => key == null || key === '');\n  if (invalid) {\n    whyPlanHallucinationFailures += 1;\n    continue;\n  }\n  whyThisPlan.push(candidate.text);\n  whyMetricGroups.push(candidate.metricKeys);\n}\n\nif (whyThisPlan.length < 2) {\n  const fallback = [\n    ['ctlActs', ctlNow, 'CTL'],\n    ['atlActs', atlNow, 'ATL'],\n    ['rampActs', rampNow, 'ramp rate'],\n    ['totalTrimp', trimpNow, 'TRIMP'],\n    ['restHR', restNow, 'resting HR'],\n    ['hrvWel', hrvNow, 'HRV'],\n    ['sleepWel', sleepNow, 'sleep score'],\n    ['steps', stepsNow, 'steps'],\n  ];\n  for (const [key, value, label] of fallback) {\n    if (whyThisPlan.length >= 2) break;\n    if (value === null) continue;\n    const alreadyUsed = whyMetricGroups.some((group) => group.includes(key));\n    if (alreadyUsed) continue;\n    whyThisPlan.push(`Señal clave: ${label} = ${fmt(value)}.`);\n    whyMetricGroups.push([key]);\n  }\n}\n\nif (whyThisPlan.length < 2) {\n  whyThisPlan.push('Métricas insuficientes para justificar el plan con más detalle.');\n  whyMetricGroups.push([]);\n}\n\nconst whyThisPlanFinal = whyThisPlan.slice(0, 4);\nconst whyMetricGroupsFinal = whyMetricGroups.slice(0, 4);\nconst whyPlanMetricKeys = Array.from(new Set(whyMetricGroupsFinal.flat()));\n\n\n\nconst riskFlags = [];\nif (hrvNow !== null && baselineHrv !== null && hrvNow < baselineHrv * 0.9) {\n  riskFlags.push({\n    trigger: 'wellnessLow',\n    message: `HRV ${fmt(hrvNow)} vs base ${fmt(baselineHrv)} (>=10% por debajo).`,\n    action: 'Prioriza recuperación y mantén intensidad baja en la próxima sesión.',\n  });\n}\nif (restNow !== null && baselineRest !== null && restNow > baselineRest + 3) {\n  riskFlags.push({\n    trigger: 'restHrHigh',\n    message: `FC reposo ${fmt(restNow)} bpm vs base ${fmt(baselineRest)} (+3 bpm).`,\n    action: 'Reduce intensidad y monitoriza fatiga matinal durante 48h.',\n  });\n}\nif (rampNow !== null && (rampNow > 5 || (baselineRamp !== null && rampNow > baselineRamp + 1.5))) {\n  riskFlags.push({\n    trigger: 'rampHigh',\n    message: `Ramp alto (${fmt(rampNow)}).`,\n    action: 'Evita añadir volumen extra esta semana.',\n  });\n}\nif (sleepNow !== null && sleepNow < 70) {\n  riskFlags.push({\n    trigger: 'wellnessLow',\n    message: `Sueño bajo (${fmt(sleepNow)}).`,\n    action: 'Prioriza trabajo aeróbico suave hasta estabilizar el sueño.',\n  });\n}\nif (ctlNow !== null && atlNow !== null && atlNow - ctlNow > 10) {\n  riskFlags.push({\n    trigger: 'atlOverload',\n    message: `ATL (${fmt(atlNow)}) claramente por encima de CTL (${fmt(ctlNow)}).`,\n    action: 'Añade recuperación entre esfuerzos de calidad.',\n  });\n}\n\nconst riskWarningTriggers = Array.from(new Set(riskFlags.map((flag) => flag.trigger)));\nconst riskWarningTriggerCounts = {\n  wellnessLow: riskFlags.some((flag) => flag.trigger === 'wellnessLow') ? 1 : 0,\n  rampHigh: riskFlags.some((flag) => flag.trigger === 'rampHigh') ? 1 : 0,\n  painReported: riskFlags.some((flag) => flag.trigger === 'painReported') ? 1 : 0,\n  restHrHigh: riskFlags.some((flag) => flag.trigger === 'restHrHigh') ? 1 : 0,\n  atlOverload: riskFlags.some((flag) => flag.trigger === 'atlOverload') ? 1 : 0,\n};\nconst riskWarningTriggerCount = riskWarningTriggers.length;\n\nconst hasWarningData = riskFlags.length > 0;\nconst warningLines = hasWarningData\n  ? riskFlags.map((flag) => `${flag.message} Acción: ${flag.action}`)\n  : ['Sin alertas relevantes con las señales actuales.'];\n\nconst sectionCompleteness = {\n  lastWeekSummary: hasLastWeekSummaryData,\n  thisWeekGoal: hasThisWeekGoalData,\n  dailyPlan: hasCompleteDailyPlan,\n  keySession: hasKeySessionData,\n  warnings: hasWarningData,\n};\nconst sectionMissingCount = Object.values(sectionCompleteness).filter((value) => !value).length;\n\nconst sections = [\n  { title: 'Last-week summary', lines: lastWeekSummaryLines },\n  { title: 'This-week goal', lines: thisWeekGoalLines },\n  { title: 'Why this plan', lines: whyThisPlanFinal },\n  { title: 'Daily plan', lines: dailyPlanLines },\n  { title: 'Key session', lines: keySessionLines },\n  { title: 'Warnings', lines: warningLines },\n];\n\nconst keySessionSummary = hasKeySessionData ? keySessionLines[0] : 'Sin sesión clave.';\nconst warningSummary = hasWarningData ? warningLines[0] : 'Sin alertas relevantes.';\nconst keySessionDayLabel = keySessionDay ? valueOr(keySessionDay.day, 'la sesión clave') : 'la sesión clave';\nconst adjustmentRule = riskFlags.length > 0\n  ? `Regla: si se repite la alerta, ${riskFlags[0].action}`\n  : `Regla: si hoy notas fatiga alta, convierte ${keySessionDayLabel} en trabajo suave Z1-Z2 y prioriza recuperación.`;\n\nconst htmlParts = [];\nhtmlParts.push(`🏃‍♂️ <b>Plan semanal</b> ${esc(weekStart)} -> ${esc(weekEnd)}`);\nif (zoneUpdateNotice) {\n  htmlParts.push(esc(zoneUpdateNotice));\n}\nhtmlParts.push('');\nhtmlParts.push('<b>TL;DR</b>');\nhtmlParts.push(`- Objetivo: ${esc(objective)}`);\nhtmlParts.push(`- Estado: Sueño ${esc(fmt(sleepNow))} · HRV ${esc(fmt(hrvNow))} · FC reposo ${esc(fmt(restNow, ' bpm'))}`);\nhtmlParts.push(`- Sesión clave: ${esc(keySessionSummary)}`);\nhtmlParts.push(`- Alerta: ${esc(warningSummary)}`);\nhtmlParts.push(`- ${esc(adjustmentRule)}`);\nhtmlParts.push('');\n\nif (previewEnabled) {\n  htmlParts.push('🧪 <b>Preview mode</b>');\n  htmlParts.push(`- Mensajes enviados al chat preview ${esc(targetChatId)}.`);\n  htmlParts.push('');\n}\n\nfor (const section of sections) {\n  htmlParts.push(`<b>${esc(section.title)}</b>`);\n  for (const line of section.lines) {\n    htmlParts.push(`- ${esc(line)}`);\n  }\n  htmlParts.push('');\n}\n\nconst debugEnabled = isTruthy(getVar('RC_TELEGRAM_DEBUG_FOOTER'));\n\nif (debugEnabled) {\n  const runId = (content.runEvent && content.runEvent.runId)\n    || content.runId\n    || content.__runId\n    || runContext.runId\n    || '-';\n  const attempt = content.__attempt ?? (content.runEvent && content.runEvent.attempt) ?? '-';\n  const promptVersion = content.promptVersion || content.__promptVersion || runContext.promptVersion || '-';\n  const modelId = content.modelId || content.__modelId || runContext.modelId || '-';\n  htmlParts.push('<pre>'\n    + `run_id: ${esc(runId)}\\n`\n    + `attempt: ${esc(attempt)}\\n`\n    + `prompt_version: ${esc(promptVersion)}\\n`\n    + `model: ${esc(modelId)}\\n`\n    + `template_version: ${esc(TEMPLATE_VERSION)}\\n`\n    + `sections_missing: ${esc(sectionMissingCount)}\\n`\n    + `preview_mode: ${esc(previewEnabled)}\\n`\n    + `chat_id: ${esc(targetChatId)}`\n    + '</pre>');\n}\n\nconst TELEGRAM_MESSAGE_BUDGET = 3900;\nconst htmlMessage = htmlParts.join('\\n').trim();\nconst htmlMessageLength = Array.from(htmlMessage).length;\nif (htmlMessageLength > TELEGRAM_MESSAGE_BUDGET) {\n  throw new Error(`telegram_message_too_long: ${htmlMessageLength} > ${TELEGRAM_MESSAGE_BUDGET}`);\n}\n\nconst errors = Array.isArray(content.__errors) ? content.__errors : [];\nconst baseRunEvent = isObject(content.runEvent)\n  ? content.runEvent\n  : {\n      runId: `${new Date().toISOString()}-${Math.random().toString(36).slice(2, 8)}`,\n      status: 'success',\n      attempt: content.__attempt ?? null,\n      weekStart: nextWeek.weekStart || null,\n      weekEnd: nextWeek.weekEnd || null,\n      errorCount: errors.length,\n      errors,\n      createdAt: new Date().toISOString(),\n    };\n\nconst runEvent = Object.assign({}, baseRunEvent, {\n  telegramTemplateVersion: TEMPLATE_VERSION,\n  sectionCompleteness,\n  sectionMissingCount,\n  whyThisPlan: whyThisPlanFinal,\n  whyPlanMetricKeys,\n  whyPlanHallucinationFailures,\n  previewMode: previewEnabled,\n  previewChatId: targetChatId,\n  riskWarningTriggerCount,\n  riskWarningTriggers,\n  riskWarningTriggerCounts,\n  telegramMessageBudget: TELEGRAM_MESSAGE_BUDGET,\n  telegramMessageLength: htmlMessageLength,\n});\n\nreturn [{\n  json: Object.assign({}, content, runEvent, {\n    runEvent,\n    telegramTemplateVersion: TEMPLATE_VERSION,\n    sectionCompleteness,\n    sectionMissingCount,\n    whyThisPlan: whyThisPlanFinal,\n    whyPlanMetricKeys,\n    whyPlanHallucinationFailures,\n    previewMode: previewEnabled,\n    previewChatId: targetChatId,\n    riskWarningTriggerCount,\n    riskWarningTriggers,\n    riskWarningTriggerCounts,\n    telegramMessageBudget: TELEGRAM_MESSAGE_BUDGET,\n    telegramMessageLength: htmlMessageLength,\n    chatId: targetChatId,\n    htmlMessage,\n  }),\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "f8c749c6-346b-44cb-b1ee-e3e902b77d0e",
      "name": "Build Telegram Message"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Build Run Event (success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Event (success)": {
      "main": [
        [
          {
            "node": "Validate WeeklyPlan (attempt 0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate WeeklyPlan (attempt 0)": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ccdffef-ddde-44f1-85b9-df9f8e5f67d5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "RcSbTg4hJ8pR1vW6",
  "tags": []
}
